albumentations
comet_ml
coremltools
dill
dvclive
einops
encord
fvcore
gradio
imageio
ipython
lap
lpips
mat73
matplotlib
moviepy
mss
mxnet
nerv
numpy
omegaconf
onnxruntime
onnxsim
opencv_python
openvino
paddle
pafy
pandas
Pillow
protobuf
psutil
ptflops
pycocotools
pytest
pytorch_lightning
PyYAML
ray
Requests
scikit_learn
scipy
seaborn
sentry_sdk
setuptools
super_gradients
tensorflow
tensorflow_datasets
tensorflow_io
tensorflowjs
tensorrt
tflite_runtime
tflite_support
thop
torchcam
torchmetrics
torchpack
torchsummary
tqdm
transformers
visdom
wandb
webdataset
x2paddle
yt_dlp